.title {
  font-family: "Passion One";
  font-size: 40px;
  color: white;
}

.logo {
  width: 40px;
}

.navbar {
  background: #3498f0;
  height: 80px;
}

.profile-letter {
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 8px;
  /* border-radius: 50%;
  background-color: rgb(255, 145, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px; */
}

.logout-logo {
  width: 40px;
  background-color: orange;
  padding: 8px;
  border-radius: 50%;
}

@media (max-width: 992px) {
  .logo {
    width: 30px;
  }

  .title {
    font-size: 30px;
  }
}
